@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Caslon Text", serif;
  font-style: normal;
}

header {
  background-color: #f2e6dd;
  padding: 2rem;
  text-align: center;
}

form {
  margin-top: 1.5rem;
  padding: 1.2rem;
}

.urlbox {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  background-color: #F2E6DD;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.urlbox button {
  width: 50px;
  border: none;
  background-color: #F2E6DD;
}

#url {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  padding: 5px;
  outline: none;
  border: none;
  background-color: #F2E6DD;
} 

select, input[type="text"] {
  background-color: #F2E6DD;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  width: 49%;
  font-size: 1rem;
}

form > input {
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  border: none;
}

select {
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  border: none;
}

ul {
  padding: 1rem;
  list-style: none;
}

ul li {
  margin-bottom: 2rem;
}

.bookmarks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 1rem;
}

.bookmarks-education a {
  background-color: #48DB2B;
}
.bookmarks-selfimprovement a {
  background-color: #6E79F0;
}
.bookmarks-education a {
  background-color: #48DB2B;
}
.bookmarks-education a {
  background-color: #48DB2B;
}

.bookmarks a {
  padding: 10px;
  border-radius: 0.5rem;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
